extends layout

block content
	.container
		h1.page-header Welcome

		form.guildSearch(action="/", role="search")
			.form-group
				label(for="guildName") Lookup a guild
				.row
					.col-xs-6.col-sm-8.col-md-10
						input.guildName.form-control(name="guildName", placeholder="Guild Name")
					.col-xs-6.col-sm-3.col-md-2
						button.btn.btn-default.btn-block Lookup

		#example
			h1.page-header Examples

			div.text-center
				each guild, ixGuild in guilds
					a(href=`/guilds/${guild.slug}`)
						img(src=`/guilds/${guild.slug}/256.svg`, title=guild.guild_name width=160, height=160, onerror="$(this).parent().remove()")
