extends layout

block content
	.container
		h1.page-header Welcome

		form.guildSearch(action="/", role="search")
			.form-group
				label(for="guildName") Lookup a guild
				input.guildName.form-control(name="guildName", placeholder="Guild Name")
			button.btn.btn-default Lookup