

body {
    font-family: 'Roboto', 'verdana', sans-serif;
	font-size: 14px;
	margin-bottom: 80px;
	background-color:#fff;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: 'Roboto Condensed', 'arial', sans-serif;
    font-weight: 700;
}

.mono {
    font-family: 'Roboto Mono', 'consolas', 'courier new', 'monospace';
    font-size: 80%;
}


.text-center{text-align: center !important}
.text-left{text-align: left !important}
.text-right{text-align: right !important}
.small {font-size: 85%; line-height: 140%;}
.capitalize {text-transform: capitalize;}

.block-center{display: block; margin-left: auto; margin-right: auto;}
.block-left{display: block; margin-left: 0; margin-right: auto;}
.block-right{display: block; margin-left: auto; margin-right: 0;}
.nowrap{display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


#guildName a {
    color: inherit;
}

#linkBuilder dl.dl-horizontal dt {
	width: 100px;
}
#linkBuilder dl.dl-horizontal dd {
	margin-left: 120px;
}

.examples {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.examples img {
    display: block;
    width: 160px;
    height: 160px;
}
